.scrollDown {
    animation: float 4s ease-in-out infinite;
}
.popRight:hover {
    animation: pop 1s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translatey(0px) rotate(90deg);
    }
    50% {
        transform: translatey(20px) rotate(90deg);
    }
    100% {
        transform: translatey(0px) rotate(90deg);
    }
}

@keyframes pop {
    0% {
        transform: translatex(0px);
    }
    50% {
        transform: translatex(10px);
    }
    100% {
        transform: translatex(0px);
    }
}
